body {
    background: hsl(225, 100%, 94%) url(images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    font-family:  'Red Hat Display', sans-serif;
}
.h1 {
    font-weight: 900;
    font-size: 22px;
    color: hsl(223, 47%, 23%);
}
.paragraph {
    color:  hsl(224, 23%, 55%);
    font-size: 16px;
}

    .contenedorP {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .principal {
        margin: 20px auto;
        width: 30vw;
        height: 70vh;
        border: 0px solid;
        background: rgb(255, 255, 255);
        border-radius: 15px;
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        text-align: center;
    }
    .descrip {
        width: 70%;
    }
    .pay {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-flow: row nowrap;
        width: 70%;
        height: 15%;
        border: 0px;
        border-radius: 10px;
        background: hsl(225, 100%, 98%);
    }

        .left {
            flex: 1 1 auto;
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
        }
        .right {
            flex: 0 1 auto;
        }
        .image {
            margin: 5px;
        }
        .image img {
            width: 3rem;
            height: 3rem;
        }
            .text {
                margin: 5px;
            }
                .text h4 {
                    padding: 0%;
                    margin: 0%;
                    font-weight: 700;
                    color: hsl(223, 47%, 23%);
                }
                .text p {
                    padding: 0%;
                    margin: 0%;
                }
        .hero {
            width: 100%;
            height: 100%;
            border-top-right-radius: 15px;
            border-top-left-radius: 15px;
        }
        .options {
            display: flex;
            align-items: center;
            margin-top: 2rem ;
            flex-flow: column wrap;
            width: 100%;
        }
        .payment {
            width: 70%;
            color: rgb(255, 255, 255);
            border: 0px solid;
            border-radius: 15px;
            font-size: 14px;
            background: hsl(245, 75%, 52%);
            margin-bottom: 1rem;
            padding: 0.8rem;
            font-weight: 700;
            box-shadow: 
            0px 10px 0px 0px hsl(225, 100%, 98%),
            0px 10px 0px 0px hsl(225, 100%, 98%);
        }

        .payment:hover {
            background: hsla(245, 75%, 52%, 0.637);
        }

        .cancel {
            color: hsl(224, 23%, 55%);
            text-decoration: none;
            font-weight: 700;
            font-size: 14px;
        }
        .cancel:hover {
            color: hsl(223, 47%, 23%);
        }
        .change {
            color: hsl(245, 75%, 52%);
            margin: 5px 10px;
        }
        .change:hover {
            text-decoration: none;
            color: hsla(245, 75%, 52%, 0.637);
        }

    .attribution { 
        font-size: 14px; text-align: center; 
    }
    .attribution a { 
        color: hsl(228, 69%, 41%); 
    }

    @media screen and (max-width: 375px) {
        body {
            background: hsl(225, 100%, 94%) url(images/pattern-background-mobile.svg);
            background-size: contain;
            background-repeat: no-repeat;
        }

        .principal {
            width: 80vw;
            height: 95vh;
        }
        .h1 {
            font-size: 18px;
        }
        .paragraph {
            font-size: 13px;
        }
        .pay {
            width: 80%;
            margin: 0%;
        }
        .cancel {
            margin: 0%;
        }
        .text {
            margin: 0px;
        }
        .music {
            margin: 0px 2px;
        }
    }
